<!DOCTYPE html>

<html lang="da">

    <head>
        <meta charset="UTF-8">
        <title>Nikolajs Have</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="static/webstyle.css">
        <style>
            @media (min-width: 1000px) {
                h1::before {
                    content: "Velkommen til Nikolajs Kolonihave!";
                }
            }
            @media (max-width: 999px) {
                h1::before {
                    content: "Nikolajs Kolonihave!";
                }
            }

        </style>

    </head>

    <body>
        <a href="index.html">Indeks</a>
        <br></br>
        <a href="pictures.html">Billedgalleri</a>
        <br></br>
        <a href="about.html">Om mig og haven</a>
        <br></br>
        <a href="overview.html">Oversigt over indhold på siden</a>
        <h1></h1>
        <p><i>Udgivet 4. april 2020</i></p>
        <p>
            Tilbage i starten af april købte min kæreste og jeg dette fantastiske lille kolonihave, som ligger i centrum af Odense, blot et par hundrede meter fra vores lejlighed.
        </p>
        <p>
            Her er et par billeder af haven, som over de næste par måneder vil blive forvandlet til et lille åndehul, hvor vi kan dyrke vores egne grøntsager og hygge ude i.
        </p>
        <img src="static/images/garden1.jpg" alt="Smiley face" height="400" width="600">



    </body>

</html>